@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--FuenteCuerpo), ui-sans-serif, system-ui, sans-serif;
  background: #0b0b0b;
  color: white;
}

.FuenteTitulo {
  font-family: var(--FuenteTitulo), ui-serif, Georgia, serif;
}